{
    "po_lines":
        [
            {
            	"id": "da0272e4-7ff7-4ea8-9bc9-9d9cd5c81580",
                "acquisition_method": "Approval Plan",
                "barcode": "1234",
                "cancellation_restriction": false,
                "cancellation_restriction_comment": null,
                "receipt_date": null,
                "collection": false,
                "owner": "Joe Smith",
                "source": "EDI",
                "po_line_description": "History Connect In",
                "adjustment": {
                    "shipment": 0,
                    "insurance": 0,
                    "discount": 0,
                    "overhead": 0,
                    "credit": 0,
                    "tax": 1.62,
                    "invoice_id": null,
                    "use_pro_rate": false
                },
                "alert": {
                    "po_line_id": null,
                    "alert": "alert",
                },
                "claim": {
                    "po_line_id": null,
                    "date": null,
                    "sent": null,
                    "grace": null
                },
                "cost": {
                    "list_price": 32.36,
                    "currency": "CAD",
                    "quantity": 1,
                    "estimated_price": 32.36
                },
                "details": {
                    "title": "The Conquest of the Incas",
                    "receiving_note": "Please shelve in B5-History",
                    "product_id": "0156028263",
                    "material_type": "Physical Monograph",
                    "subscription_to": null,
                    "subscription_from": null,
                    "subscription_interval": null,
                    "description": "The bible for historians and archaeologists studying the final days of the Inca. For the past thirty years, The Conquest of the Incas has remained the most influential book for Inca scholars. There is no other book which is even in the same class.",
                },
                "eresource": {
                    "activation_status": "",
                    "activation_due": 4,
                    "create_inventory": false,
                    "trial": false,
                    "expected_activation": null,
                    "user_limit" 5,
                    "material_id": null,
                    "access_provider": null
                },
                "fund_distribution": [
                    {
                        "amount": null,
                        "percent": 0.5,
                        "fund_id": "f1ad8f9c-9131-4d0f-956c-de2171d9fa8c"
                    },
                    {
                        "amount": null,
                        "percent": 0.5,
                        "fund_id": "25909263-13a1-4e0d-99e9-992b0095a792"
                    }
                ],
                "license": {
                    "item": null,
                    "license_id", null
                },
                "location": {
                    "quantity": 8,
                    "location_id", null
                },
                "order_format": {
                    "code": null,
                    "description": ""
                },
                "order_type": {
                    "code": null,
                    "description": ""
                },
                "physical": {
                    "expected_receipt_date": "2017-25-09T09:53:15-07",
                    "receipt_due": null,
                    "expected_receipt_interval": 5,
                    "material_supplier": "112ae2e4-88ae-4fa5-a75b-2379d2035e52"
                    "volumes": 1,
                    "material_id": "0156028263",
                    "material_supplier": null
                },
                "receipt_status": {
                    "code": null,
                    "description": ""
                },
                "renewal": {
                    "cycle": null,
                    "review_period": 6,
                    "renewal_date": null,
                    "interval": 0,
                    "manual_renewal": false
                },
                "source": {
                    "code": null,
                    "description": ""
                },
                "vendor": {
                    "ref_number": "123456-78",
                    "ref_no_type": "HIST_ACQ",
                    "instructions": null,
                    "vendor_account": "MYLIB-ACCT-GOBI-12",
                    "note_from_vendor": null
                },
                "workflow_status": {
                    "code": null,
                    "description": ""
                },
                "selector": "Nathan Pick",
                "requester": "John Castillo",
                "account_number": "1234",
                "donor": null,
                "changelog": [
                    {
                        "note": "Created PO HIST-CONN-2017",
                        "timestamp": "2017-20-09T09:53:15-07",
                        "user": "ab18897b-0e40-4f31-896b-9c9adc979a88"
                    }
                ]
            }
        ],
    "total_records": 1,
    "first": 1,
    "last": 1
}