{
  "credit": 1.0,
  "discount": 1.0,
  "insurance": 0.5,
  "invoiceId": "2d6d495c-c237-476f-aa48-57f7cbf74ca4",
  "overhead": 1.0,
  "shipment": 1.0,
  "tax1": 0.75,
  "tax2": 0.75,
  "useProRate": false
}
