{
  "receivingNote": "ABCDEFGHIJKL",
  "productIds": [
    {
      "productId": "9780764354113",
      "productId_type": "ISBN"
    }
  ],
  "materialTypes": [
    "f7e72403-2a13-43a4-a069-aaabe6c9dea8"
  ],
  "subscriptionFrom": "2018-10-09T00:00:00.000Z",
  "subscriptionInterval": 824,
  "subscriptionTo": "2020-10-09T00:00:00.000Z"
}
