{
  "receivingNote": "details for view",
  "productIds": [
    {
      "productId": "9780764354113",
      "productId_type": "ISBN"
    }
  ],
  "materialTypes": [
    "329f4b3a-831f-4f0e-aea1-0eb487550615"
  ],
  "subscriptionFrom": "2019-01-09T00:00:00.000Z",
  "subscriptionInterval": 600,
  "subscriptionTo": "2020-10-09T00:00:00.000Z"
}
