{
  "accessProvider": "ba3f3d45-247d-41f6-8dc9-6488adcad329",
  "activated": false,
  "activationDue": 10,
  "createInventory": true,
  "expectedActivation": "2018-10-09T00:00:00.000Z",
  "license": "7c063655-b384-4a6f-b367-3c2f95f7a49c",
  "trial": false,
  "userLimit": 10
}
