{
  "id": "1a902141-d8c6-4cf3-8a19-193eca007478",
  "caption": "Tutorial Volume 6",
  "comment": "Limited Edition",
  "itemId": "15447c41-bc6a-4600-96a4-a1ce7f44c62a",
  "poLineId": "2fe6c2dd-3700-4a53-a624-1159cfd7f8ce",
  "receivingStatus": "Expected",
  "supplement": false,
  "receivedDate": "2019-01-11T00:00:00.000Z"
}
