{
  "id": "2fe6c2dd-3700-4a53-a624-1159cfd7f8ce",
  "acquisitionMethod": "Purchase At Vendor System",
  "adjustment": {
    "credit": 1.0,
    "discount": 1.0,
    "insurance": 0.5,
    "invoiceId": "2d6d495c-c237-476f-aa48-57f7cbf74ca4",
    "overhead": 1.0,
    "shipment": 1.0,
    "tax1": 0.75,
    "tax2": 0.75,
    "useProRate": false
  },
  "alerts": [
    "6c576118-3da7-4b30-b9b9-3678ac4fe9a4"
  ],
  "cancellationRestriction": false,
  "cancellationRestrictionNote": "Cancellation Note",
  "claims": [
    {
      "claimed": false,
      "grace": 0
    }
  ],
  "collection": false,
  "contributors": [
    {
      "contributor": "Ed Mashburn",
      "contributorType": "99ad4cf4-5809-49ef-936c-1990bf3b6f48"
    }
  ],
  "cost":
  {
    "currency": "USD",
    "listPrice": 24.99,
    "quantityPhysical": 1,
    "quantityElectronic": 1,
    "poLineEstimatedPrice": 49.98
  },
  "checkinItems": true,
  "instanceId": "8343e5a0-fed8-11e8-8eb2-f2801f1b9fd2",
  "description": "description for po_line receiving_history view",
  "details": {
    "receivingNote": "ABCDEFGHIJKL",
    "productIds": [
      {
        "productId": "9780764354113",
        "productIdType": "ISBN"
      }
    ],
    "materialTypes": [
      "f7e72403-2a13-43a4-a069-aaabe6c9dea8"
    ],
    "subscriptionFrom": "2018-10-09T00:00:00.000Z",
    "subscriptionInterval": 824,
    "subscriptionTo": "2020-10-09T00:00:00.000Z"
  },
  "donor": "ABCDEFGHIJKLM",
  "eresource": {
    "accessProvider": "ba3f3d45-247d-41f6-8dc9-6488adcad329",
    "activated": false,
    "activationDue": 10,
    "createInventory": "None",
    "expectedActivation": "2018-10-09T00:00:00.000Z",
    "license": {
        "code": "Code 1",
        "description": "License Agreement 1"
    },
    "trial": false,
    "userLimit": 10
  },
  "fundDistribution": [
    {
      "code": "HIST",
      "percentage": 80.0,
      "encumbrance": "eb506834-6c70-4239-8d1a-6414a5b08ac3"
    }
  ],
  "locations": [
    {
      "locationId": "a7c5d9ea-cabe-11e8-a8d5-f2901f1b9fd1",
      "quantity": 1,
      "quantityElectronic": 1,
      "quantityPhysical": 0
    }

  ],
  "orderFormat": "Physical Resource",
  "owner": "ABCDEFGHIJKLMNOPQRSTUVWXYZABC",
  "paymentStatus": "Awaiting Payment",
  "physical": {
    "volumes": [
      "vol. 1"
    ],
    "materialSupplier": "73d14bc5-d131-48c6-b380-f8e62f63c8b6",
    "receiptDue": "2018-10-10T00:00:00.000Z"
  },
  "poLineDescription": "ABCDEFGHIJKLMNOPQRSTUVWXY",
  "poLineNumber": "268500-03",
  "publicationDate": "2017",
  "publisher": "Schiffer Publishing",
  "purchaseOrderId": "2ba7ef6a-d1d4-4a4f-90a2-882aed18af16",
  "receiptDate": "2018-10-09T00:00:00.000Z",
  "receiptStatus": "Awaiting Receipt",
  "reportingCodes": [
    "07c03c98-0feb-4042-8be8-f5b9c18706f4",
    "c2f1695d-ceb4-4205-ae8b-01857a2ce491",
    "74dd0f68-7e78-4cb4-a090-f9cad23cf750"
  ],
  "requester": "Leo Bulero",
  "rush": true,
  "selector": "ABCD",
  "source": {
    "code": "",
    "description": "Manually entered"
  },
  "tags": [
    "ABCDEFGHIJKLMNOPQRSTU",
    "ABCDEFG",
    "ABCDEFGHIJKLMNOPQRSTU",
    "ABCDEFGHIJKLMNO"
  ],
  "title": "Skiing in the Colorado",
  "vendorDetail": {
    "instructions": "ABCDEFG",
    "noteFromVendor": "ABCDEFGHIKJKLMNOP",
    "refNumber": "123456-78",
    "refNumberType": "Supplier's unique order line reference number",
    "vendorAccount": "8910-25"
  }
}
