{
  "id": "2ba7ef6a-d1d4-4a4f-90a2-882aed18af16",
  "approved": true,
  "assignedTo": "ab18897b-0e40-4f31-896b-9c9adc979a88",
  "dateOrdered": "2018-09-09T00:00:00.000Z",
  "manualPo": true,
  "notes": [],
  "orderType": "One-Time",
  "poNumber": "268500",
  "reEncumber": false,
  "vendor": "168f8a86-d26c-406e-813f-c7527f241ac3",
  "workflowStatus": "Open"
}
